# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
csx
PublishProfiles

# mstest test results
TestResults

# web.config files
*.user
*.suo
*.pubxml
*.user
API.dll
API.pdb
Web.Debug.config
Web.Release.config